<div class="todo-list__card">
  <h2 class="todo-list__title">Задачи на сегодня</h2>
  <hr class="todo-list__hr">
  <div class="todo-list__list">
    <loading-spinner *ngIf="isLoading; else list" />
    <ng-template #list>
      <div class="todo-list__item" *ngFor="let todoItem of todoList">
        <todo-list-item [class.selected]="this.selectedItemId === todoItem.id" [item]="todoItem"
          (itemDeleted)="onDelete(todoItem.id)" (click)="onSelect(todoItem.id)" />
      </div>
    </ng-template>
  </div>
  <hr class="todo-list__hr">
  <todo-add-form (itemAdded)="onAdd($event)" />
</div>
<div class="todo-list__card">
  <h2 class="todo-list__title">Описание</h2>
  <hr class="todo-list__hr">
  <p *ngIf="todoList[selectedItemId]">{{ todoList[selectedItemId].description }}</p>
</div>